.small-margin-top{
	margin-top: 30px;
}

.intro {
  font-weight: bold;
}

/* CSS JUSTIFS */
.justifs-complements li, .justifs li{
  background: white;
  padding: 10px;
  border-bottom: 1px solid #CDE3F1;
  color: black;
}
/* HOVER  */
.justifs li.select, .justifs-complements li.select{
  background: #196681;
  cursor: pointer;
  color: white;
}

.justifs li:hover, .justifs-complements li:hover{
  background: #196681;
  cursor: pointer;
  color: white;
}

#res{
  background: #fff;
  border-bottom: 2px solid #DFF0D8;
  padding: 5px;	
}

#listfiles th {
  background-color: #196681;
}

#listfiles th.center {
  text-align: center;
}

#listfiles td a {
  color: #196681;
  font-weight: bold;
}

#listfiles td a:hover {
  text-decoration: none;
}

#listfiles td .btn-primary {
  color: #fff;
  background: none;
  border: none;
}
.table>tbody>tr>td {
  vertical-align: middle;
}

form#dgf-justificatifs-form .messages-inline {
  margin-left: 0;
}

#edit-error-select-file {
  visibility: hidden;
  height: 0;
  line-height: 0;
  padding: 0;
  border: none;
}

.form-item-error-select-file {
  margin: 0;
  height: 0;
}

.form-item-error-select-file .messages-inline {
  margin-top: -20px;
}

.required {
    color: #e32;
    display:inline;
}