form#dgf-demande-form .form-type-radios > label {
  display: inline;
  color: #0095B7;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  margin-right: 0;
}

form#dgf-demande-form .form-type-radios > label .sublabel {
  display:block;
  font-size: 12px;
  font-weight: normal;
  color: black;
  font-style: italic;
}

form#dgf-demande-form .form-type-radios > label .form-required:not(:first-child) {
  display:none;
}

form#dgf-demande-form .form-item-nature-demande .form-type-radio {
  display: block;
}

form#dgf-demande-form .form-item-nature-formation .form-type-radio {
  display: block;
}

#center form#dgf-demande-form {
  padding: 0px;
}

form#dgf-demande-form div.padding15 {
  padding: 15px;
}

form#dgf-demande-form div.radio-separator {
  position: absolute;
  display:none;
}

form#dgf-demande-form div.form-item-nature-formation {
  margin-left: 20px;
}