#center {
	background-color : white;
}

/* Css pour les popup */
#popup-add { 
  background: #fff;
  padding: 5px;
  border: 4px solid #eee;
  display: none;
  width: 400px;
  margin: auto;
  height: 150px;
}
#popupheader{
	background: #000000;
	color: #fff;
	font:bold 16px arial sans-serif;
	padding: 10px;
}
#message{
	padding-top: 15px;
	text-align: center;
	margin: auto;
}
// Override AJAX LOADER

/* these apply to all ajax progresses */
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ajax-progress .throbber {
  background: transparent url('../imgs/loader.gif') no-repeat 0px 0px; /* tweak this according to your gif */
  float: left;
  height: 60px; /* tweak this according to your gif */
  width: 120px; /* tweak this according to your gif */
  margin: 2px;
}

/* SPinner AJAX */
#loading{
  background: transparent url('../imgs/loader.gif') no-repeat 0px 0px; /* tweak this according to your gif */
  float: left;
  height: 60px; /* tweak this according to your gif */
  width: 120px; /* tweak this according to your gif */
  display: none;
  margin: 2px;
}

#dgf-administration-users-form a.btn {
  border-radius: 5px;
  color: #196681!important;
  background-color: #FFFFFF !important;
  border-color: #ABC7D5!important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  float: right;
}

table {
  clear: both;
}